@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --color-background: #D6E1F0;
    --color-qr-component-bg: #FDFFFF;
    --color-title: #1F3251;
    --color-description: #68778D;

    --border-radius-size: 20px;
    --font-size-base: 1.6rem;
    --font-size-title: 2rem;
    --font-size-description: 1.4em;
    --small-spacing: 1rem;
    --medium-spacing: 2rem;
    --large-spacing: 3rem;

    --box-shadow: 3px 6px 15px rgba(0, 0, 0, 0.068);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: var(--color-background);
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    height: 100dvh;
}

main {
    position: relative;
    height: 100%;
}

.qr-component {
    background-color: var(--color-qr-component-bg);
    width: 100%;
    max-width: 34rem;
    padding: var(--medium-spacing);
    border-radius: var(--border-radius-size);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    max-height: 53rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.qr-component__image {
    width: 100%;
    border-radius: var(--border-radius-size);
}

.qr-component__title {
    margin-top: var(--large-spacing);
    font-size: var(--font-size-title);
    font-weight: 800;
    padding: 0 var(--medium-spacing);
    color: var(--color-title);
}

.qr-component__description {
    margin-top: var(--medium-spacing);
    font-size: var(--font-size-description);
    padding: 0 var(--large-spacing) 2.5rem var(--medium-spacing);
    color: var(--color-description);
    font-weight: 500;
}
